<section class="menu-s1 container-fluid d-flex minh-50vh bg-light align-items-center py-5">
    <div class="row mx-0 w-100 mt-5">
        <div class="col-12 col-md-7 minh-25vh order-1 order-md-2"></div>
        <div class="col-12 col-md-5 minh-50vh order-2 order-md-1 d-flex align-items-center">
            <div class="w-100 text-center text-md-start">
                <h5 class="text-dark">
                    Sed ut perspiciatis
                </h5>
                <h2 class="dispaly-6 fw-bold text-dark">
                    Unde omnis iste
                </h2>
                <p class="text-dark">
                    Natus error sit voluptatem accusantium doloremque laudantium, 
                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis 
                    et quasi architecto beatae vitae dicta sunt explicabo. Nemo 
                    enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut 
                    fugit, sed quia consequuntur magni dolores eos qui ratione 
                    voluptatem sequi nesciunt. Neque porro quisquam est
                </p>
            </div>
        </div>
    </div>
</section>
<section class="menu-s2 container-fluid d-flex minh-25vh bg-light align-items-center py-5 border-top border-dark">
    <div class="row mx-0 w-100">
        <div class="col-11 col-sm-9 col-md-7 mx-auto">
            <div class="card w-100 mb-4">
                <div class="row">
                    <div class="col-4 bg-secondary">
                        <img src=".." class="card-img" alt="image"/>
                    </div>
                    <div class="col-8 p-3">
                        <h4 class="card-title fw-bold text-secondary">
                            Lorem ipsum dolor
                        </h4>
                        <h5 class="card-subtitle mb-3 fst-italic">
                            Lorem ipsum
                        </h5>
                        <p class="card-text text-muted">
                            Sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
                            veniam, quis nostrud exercitation ullamco laboris nisi ut 
                            aliquip ex ea commodo consequat. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="card w-100 mb-4">
                <div class="row">
                    <div class="col-4 bg-secondary">
                        <img src=".." class="card-img" alt="image"/>
                    </div>
                    <div class="col-8 p-3">
                        <h4 class="card-title fw-bold text-secondary">
                            Lorem ipsum dolor
                        </h4>
                        <h5 class="card-subtitle mb-3 fst-italic">
                            Lorem ipsum
                        </h5>
                        <p class="card-text text-muted">
                            Sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
                            veniam, quis nostrud exercitation ullamco laboris nisi ut 
                            aliquip ex ea commodo consequat. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="card w-100 mb-4">
                <div class="row">
                    <div class="col-4 bg-secondary">
                        <img src=".." class="card-img" alt="image"/>
                    </div>
                    <div class="col-8 p-3">
                        <h4 class="card-title fw-bold text-secondary">
                            Lorem ipsum dolor
                        </h4>
                        <h5 class="card-subtitle mb-3 fst-italic">
                            Lorem ipsum
                        </h5>
                        <p class="card-text text-muted">
                            Sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
                            veniam, quis nostrud exercitation ullamco laboris nisi ut 
                            aliquip ex ea commodo consequat. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="card w-100 mb-4">
                <div class="row">
                    <div class="col-4 bg-secondary">
                        <img src=".." class="card-img" alt="image"/>
                    </div>
                    <div class="col-8 p-3">
                        <h4 class="card-title fw-bold text-secondary">
                            Lorem ipsum dolor
                        </h4>
                        <h5 class="card-subtitle mb-3 fst-italic">
                            Lorem ipsum
                        </h5>
                        <p class="card-text text-muted">
                            Sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
                            veniam, quis nostrud exercitation ullamco laboris nisi ut 
                            aliquip ex ea commodo consequat. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>