<section class="combos-s1 container-fluid d-flex minh-50vh align-items-center py-5">
	<div class="row mx-0 w-100 mt-5">
        <div class="col-12 col-md-7 minh-25vh d-none d-md-block"></div>
        <div class="col-12 col-md-5 minh-50vh d-flex align-items-center">
            <div class="w-100 text-center text-md-start pt-5">
                <h5 class="text-dark">
                    Lorem ipsum
                </h5>
                <h2 class="dispaly-6 fw-bold text-dark">
                    Dolor sit amet         
                </h2>
                <p class="text-dark">
                    Sed do eiusmod tempor incididunt ut labore et dolore magna 
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                    ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    Duis aute irure dolor in reprehenderit in voluptate velit 
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint 
                    occaecat cupidatat non proident, sunt in culpa qui officia 
                    deserunt mollit anim id est laborum.      
                </p>
            </div>
        </div>
    </div>
</section>
<section class="combos-s2 container-fluid d-flex minh-25vh bg-light align-items-center py-5 border-top border-dark">
    <div class="row mx-0 w-100">
        <div class="col-11 col-sm-9 col-md-7 mx-auto">
            <div class="card w-100 mb-4">
                <div class="row">
                    <div class="col-4 bg-secondary">
                        <img src=".." class="card-img" alt="image"/>
                    </div>
                    <div class="col-8 p-3">
                        <h4 class="card-title fw-bold text-secondary">
                            Lorem ipsum dolor
                        </h4>
                        <h5 class="card-subtitle mb-3 fst-italic">
                            Lorem ipsum
                        </h5>
                        <p class="card-text text-muted">
                            Sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
                            veniam, quis nostrud exercitation ullamco laboris nisi ut 
                            aliquip ex ea commodo consequat. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="card w-100 mb-4">
                <div class="row">
                    <div class="col-4 bg-secondary">
                        <img src=".." class="card-img" alt="image"/>
                    </div>
                    <div class="col-8 p-3">
                        <h4 class="card-title fw-bold text-secondary">
                            Lorem ipsum dolor
                        </h4>
                        <h5 class="card-subtitle mb-3 fst-italic">
                            Lorem ipsum
                        </h5>
                        <p class="card-text text-muted">
                            Sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
                            veniam, quis nostrud exercitation ullamco laboris nisi ut 
                            aliquip ex ea commodo consequat. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="card w-100 mb-4">
                <div class="row">
                    <div class="col-4 bg-secondary">
                        <img src=".." class="card-img" alt="image"/>
                    </div>
                    <div class="col-8 p-3">
                        <h4 class="card-title fw-bold text-secondary">
                            Lorem ipsum dolor
                        </h4>
                        <h5 class="card-subtitle mb-3 fst-italic">
                            Lorem ipsum
                        </h5>
                        <p class="card-text text-muted">
                            Sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
                            veniam, quis nostrud exercitation ullamco laboris nisi ut 
                            aliquip ex ea commodo consequat. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="card w-100 mb-4">
                <div class="row">
                    <div class="col-4 bg-secondary">
                        <img src=".." class="card-img" alt="image"/>
                    </div>
                    <div class="col-8 p-3">
                        <h4 class="card-title fw-bold text-secondary">
                            Lorem ipsum dolor
                        </h4>
                        <h5 class="card-subtitle mb-3 fst-italic">
                            Lorem ipsum
                        </h5>
                        <p class="card-text text-muted">
                            Sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
                            veniam, quis nostrud exercitation ullamco laboris nisi ut 
                            aliquip ex ea commodo consequat. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>